@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: "PretendardVariable";
  src: url(/src/app/_fonts/PretendardVariable.woff2);
}

@font-face {
  font-family: "LOTTERIACHAB";
  src: url(/src/app/_fonts/chab.otf);
}

@font-face {
  font-family: "LeferiPoint-BlackA";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/LeferiPoint-BlackA.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "NEXON Lv1 Gothic OTF";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "DNFBitBitv2";
  font-style: normal;
  font-weight: 400;
  src: url("//cdn.df.nexon.com/img/common/font/DNFBitBitv2.otf")
    format("opentype");
}
